.inscriptionContainer {
  margin-block-start: 3rem;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 32rem;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.inscriptionContainer form:has(button[data-state='open']) {
  & *:has(button[data-state='closed'], div[data-state='closed'], label[data-state='idle']) {
    z-index: -10;
  }
}
