.dividerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 100%;
  user-select: none;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    position: absolute;
    content: ' ';
    height: 2px;
    width: clamp(43%, 25dvw, 45%);
    background: linear-gradient(90deg, #1d8ff2 5.5%, #32d4e3 38.5%, #0ff29f 65.5%, #14d9b5 98%);
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.dividerText {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
