.dividerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #1d8ff2 5.5%, #32d4e3 38.5%, #0ff29f 65.5%, #14d9b5 98%) 1;
  width: 128px;
  height: 0;
  margin-bottom: 20px;
}

.dividerText {
  margin: 0 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
